{% extends "layout.html" %}
{% block content %}

<div class="contact">
  <div class="contact-grid">

<h3 class="feature-title">Get in Touch!</h3>
<div class="form-group">
  <form class="" action="index.html" method="post">
    <input type="text" class="form-control" placeholder="Name" name="">
</div>
<div class="form-group">
    <input type="email" class="form-control" placeholder="Email Address" name="email">
</div>
<div class="form-group">
    <textarea class="form-control" rows="4"></textarea>
</div>
<input type="submit" class="btn btn-secondary btn-block" value="Send" name="">
</div>

  <section>
                  <h3>Social</h3>
                  <ul class="icons alt">
                      <li><a href="http://linkedin.com/in/shankar-deuja-8470321a5"" class="icon brands alt fa-social-linked-in">linkedin</a></li>
                      <li><a href="#" class="icon brands alt fa-facebook-f">Facebook</a></li>
                      <li><a href="#" class="icon brands alt fa-instagram">Instagram</a></li>
                      <li><a href="https://github.com/Neeraj577" class="icon brands alt fa-github">GitHub</a></li>
                  </ul>
              </section>


</div>
<img src="static/img/sfme.jpg" width="25%" height="30%">

{% endblock %}
