<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style media="screen">
    h2 {
        color: red;
    }
    
    .container-1 {
        flex: auto;
        margin: 0 auto;
        border: 1px solid blue;
        text-align: center;
        width: 75%;
    }
    
    .flex-box-1 {
        border: 2px solid indigo;
        padding: 10px;
        display: flex;
        flex wrap: wrap;
        justify content: space-around;
    }
    
    .p {
        colour: purple;
    }
</style>

<body>

    <div class="container-1">
        <p>Hi my name is Shankar Deuja. Its my first week in web development. And my first app in Javascript.</p>
        <h2>Challange:1 Your age in days </h2>
        <div class="flex-box-1">
            <div><button class="btn btn-primary" onclick="ageInDays()">Click Me!</button> </div>
            <div><button class="btn btn-danger" onclick="reset()">Reset</button> </div>
        </div>

        <div class="flex-box-1">
            <div id="flex-box-1-result">
                <p>Please rate my work</p>
            </div>
        </div>
        <script>
            function ageInDays() {
                var birthyear = prompt('What is your year of birth?')
                var ageInDays = (2021 - birthyear) * 365;
                var h1 = document.createElement('h1');
                var textAnswer = document.createTextNode('You are ' + ageInDays + ' days old.');
                h1.setAttribute('id', 'ageInDays');
                h1.appendChild(textAnswer);
                document.getElementById('flex-box-1-result').appendChild(h1);
            }

            function reset() {
                document.getElementById('flex-box-1-result').remove();
            }
        </script>

</body>

</html>