{% extends "layout1.html" %}
{% block content %}
<style>
#overflowTest, row, col-sm-4, {
background: #4CAF50;
color: white;
padding: 15px;
width: 50%;
height: 100px;
overflow: scroll;
border: 1px solid #ccc;
}
</style>

<div class="jumbotron text-center">
        <img src="static/img/Reno.jpg" style="width: 50% ">
        <img src="static/img/sfme.jpg" style="width:30%">

        <h1>My First Portfolio Page</h1>
        <p>I used Flask, Html, bootstrap to make this portfolio.</p>
        <p> I used Heroku to host my first web application.</p>
    </div>



    <div class="overflowTest">
        <div class="row">
            <div class="col-sm-4">
                <h3><a href="{{ url_for('about') }}">About</a></h3>
                <img src="assets/pic01.jpg" style="width: 20%;">
                <p>My Name is <strong>Shankar Deuja</strong> .</p>
                <p>I am a computer Science and Math major student.</p>
                <p>I am graduating from College of San Mateo in december 2021.</p>
                <p>I almost finish all my major requirement but I still need General classes for degree</p>
            </div>
            <div class="col-sm-4">

                <h3><a href="{{ url_for('skills') }}">Skills</a></h3>
                <ol>
                  <li>Computer Science</li>
                    <li>Python(75%)</li>
                    <li>javascript(50%)</li>
                    <li>HTML(90%)</li>
                    <li>CSS(70%)</li>
                    <li>Bootstrap(70%)</li>
                    <li>Flask(70%)</li>
                    <li>React Js (40%)</li>
                </ol>
            </div>
            <div class="col-sm-4">

                <div class="container">

        <h3><a href="{{ url_for('projects') }}">Project</a></h3>
        <p>Here are few projects that I have worked on:</p>
        <table class="table">
            <thead>
                <tr>
                    <th> Project Name</th>
                    <th>Technologies used</th>
                    <th>Time taken</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Graphic Game</td>
                    <td>Javascript, html </td>
                    <td>10 week</td>
                </tr>
                <tr>
                    <td>Finding Age In days</td>
                    <td>Javascript, html, css, bootstrap</td>
                     <td>1 hour</td><a/>
                </tr>
                <tr>
                    <td>To-Do App</td>
                    <td>Python, Anvil.works</td>
                    <td>Two days </td>
                </tr>
            </tbody>
        </table>
    </div>

            </div>
            <div class="col-sm-4">
              <h3><a href="{{ url_for('contact') }}">Contact</a></h3>

                <p>You can contact me on my email, whatsapp, linkedin, Github.</p>
                <p><a href="http://linkedin.com/in/shankar-deuja-8470321a5">linkedin</p>
                <p><a href="https://github.com/Neeraj577">Github</a></p>
            </div>
        </div>
    </div>

{% endblock %}
