<!DOCTYPE html>
<html>

<head>
    <title>Projects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <nav class="navbar navbar-dark bg-success">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('images') }}">Portfolio</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('skills') }}">Skills</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('projects') }}">Project</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>

            </ul>
        </div>
    </nav>
</head>

<body>
    {% block content %}
    <h6> {{(name)}}</h6>
    {% endblock %}

    <p id="footer">© Copyright 2021. All Rights Reserved. | Shankar Deuja</p>
</body>

</html>