{% extends 'layout.html' %}
{% block content %}
<style media="screen">
  game{
    border: 2px solid red;
  border-radius: 5px;
  }
</style>
<div class=container>
  <div class="game">
  <h2>Rock Paper.</h2>
  <p> I build this graphical game using html, css, and javascript</p>
  <a href="{{ url_for('game') }}">Click here to play this simple Game</a>
   </div>
  <h2>Age In days</h2>
 <p> I made this simple javascript ageInDays usinng html, css, bootstrap and our own Javascript</p>
 <a href="{{url_for('days')}}"> Click here to Calculate your age in days</a>
 <h2>To-do App</h2>
 <p> I build To-do app from Anvil.works using Anvil as front End And Python as backEnd.</p>
 <a href="https://ample-lumpy-move.anvil.app">Click Here</a>

</div>

{% endblock%}
